.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 1em;
}

main {
  flex: 1;
  padding: 1em;
}
footer {
  padding: 1em;
  text-align: center;
}

.cat-card {
  border: 1px solid #ddd;
  text-align: center;
  height: 350px; /* Increased height to accommodate content as breed is added */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure proper spacing between elements */
  padding: 10px; /* Add padding for better spacing */
  border-radius: 8px; /* Optional: Add a rounded corner for aesthetics */
  background-color: #fff; /* Keep background consistent */
}

.cat-info {
  background: #f8f9fa;
  border-radius: 4px;
  padding: 5px 0; /* Add padding inside the info area */
}




